.page {
}

.header {
	height: 56px;
	background: black;
}

.wrapper {
	display: flex;
	height: calc(100vh - var(--ytd-shorts-masthead-height));
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-padding-top: var(--ytd-margin-6x);
	margin-top: var(--ytd-shorts-top-spacing);
	scrollbar-width: none;
	-ms-overflow-style: none;
	--reels-navigation-justify-content: space-between;
	--ytd-shorts-masthead-height: 56px;
	--ytd-shorts-top-spacing: 0px;
	position: relative;
	flex-direction: column;
	--ytd-comments-engagement-panel-content-height: calc(100vh - 128px - var(--ytd-shorts-top-spacing, 0px));
	--ytd-engagement-panel-content-min-height: var(--ytd-reels-min-height, 560px);
	--ytd-comments-engagement-panel-header-height: 56px;
	--ytd-engagement-panel-content-height: calc(100vh - 128px - var(--ytd-shorts-top-spacing, 0px));
	--ytd-engagement-panel-header-height: 0px;
	align-items: center;
	
}

.card {
	border-radius: 16px;
	overflow: hidden;
	//background: rgba(100,100,100);
	display: flex;
	justify-content: center;
	--ytd-comments-engagement-panel-content-height: calc(100vh - 128px - var(--ytd-shorts-top-spacing, 0px));
	--ytd-engagement-panel-content-min-height: var(--ytd-reels-min-height, 560px);
	--ytd-comments-engagement-panel-header-height: 56px;
	--ytd-engagement-panel-content-height: calc(100vh - 128px - var(--ytd-shorts-top-spacing, 0px));
	--ytd-engagement-panel-header-height: 56px;
	position: relative;
	height: calc(100vh - 78px - var(--ytd-shorts-top-spacing, 0px));
	width: calc(65.25vh - 114px - var(--ytd-shorts-top-spacing, 0px) * .5625);
	margin: 0 var(--ytd-margin-3x);
	margin-top: var(--ytd-margin-6x);
	min-height: var(--ytd-reels-min-height, 360px);
	//min-width: 315px;
	right: 0;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	transition: all .3s linear;
	align-items: center;
	font-size: 80px;
	font-weight: bold;
	flex-shrink: 0;
	object-fit: contain;

	&:last-child {
		margin-bottom: var(--ytd-margin-6x);
	}
}

.cardActive {
	//background: rgba(255,100,100);
}

.video {
	width: auto; /* Разрешает видео использовать свою исходную ширину */
	height: auto; /* Разрешает видео использовать свою исходную высоту */
	max-width: 100%; /* Огранивает ширину видео, если оно слишком большое */
	max-height: 100%; /* Огранивает высоту видео */
	object-fit: contain; /* Сохраняет пропорции видео */
}

